# Django settings
SECRET_KEY=django-secret

# Database settings
# If DB_NAME is left empty, the project will automatically fall back to SQLite (db.sqlite3)
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=

GOOGLE_OAUTH2_CLIENT_SECRET=

GOOGLE_OAUTH2_CLIENT_ID=

REDIS_URL=redis://:your_very_secure_redis_password_here@127.0.0.1:6379/0
RESEND_WEBHOOK_SECRET=

# Frontend URL for redirecting after Google Auth
FRONTEND_URL=http://localhost:5173
